@font-face {
  font-family: "Lufga-light";
  src: url("../fonts/Lufga-Light.woff2") format("woff2"),
    url("../fonts/Lufga-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-extrabold";
  src: url("../fonts/Lufga-ExtraBold.woff2") format("woff2"),
    url("../fonts/Lufga-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-extralight";
  src: url("../fonts/Lufga-ExtraLight.woff2") format("woff2"),
    url("../fonts/Lufga-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-black";
  src: url("../fonts/Lufga-Black.woff2") format("woff2"),
    url("../fonts/Lufga-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/Lufga-Medium.woff2") format("woff2"),
    url("../fonts/Lufga-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-regular";
  src: url("../fonts/Lufga-Regular.woff2") format("woff2"),
    url("../fonts/Lufga-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga-bold";
  src: url("../fonts/Lufga-Bold.woff2") format("woff2"),
    url("../fonts/Lufga-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lufga-semibold";
  src: url("../fonts/Lufga-SemiBold.woff2") format("woff2"),
    url("../fonts/Lufga-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --body-font: "Lufga-regular";
}
* {
  font-family: var(--body-font);
}
body {
  margin: 0;
  font-family: var(--body-font);
  background: #fffcf5;
}
h4.logo {
  background: rgb(255 252 245 / 20%);
  padding: 20px;
  border-radius: 20px;
  margin: 0px 15px;
}
ul.nav li a svg {
  font-size: 22px;
}

ul.nav li.rounded a svg {
  fill: #1e96dd;
}
ul.nav li a {
  color: rgb(255 255 255 / 60%);
  padding: 18px;
}
ul.nav li {
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
  background: linear-gradient(
    to right,
    rgb(255 255 255 / 10%) 0%,
    rgb(30 150 221 / 10%) 100%
  );
  position: relative;
}

ul.nav li.rounded:before {
  position: absolute;
  content: url(/src/assets/img/userdashboard/top-curve.png);
  right: 0px;
  top: -29px;
}
ul.nav li.rounded:after {
  position: absolute;
  content: url("../../assets/img/userdashboard/bottom-curve.png");
  right: 0px;
  bottom: -36px;
}

.collapse-sidebar ul.nav li.rounded:after,
.collapse-sidebar ul.nav li.rounded:before {
  display: none;
}

li.rounded {
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
  position: relative;
}
.sidebar {
  transition: all 0.1s ease-in-out;
  width: 255px;
  background: #1e96dd;
  border-radius: 30px;
  padding-right: 0 !important;
  position: relative;
  padding-left: 0px !important;
  overflow-y: auto;
    overflow-x: hidden;
}
ul.nav.flex-column li a span,
ul.nav.flex-column li button span {
  display: block;
}

.collapse-sidebar ul.nav.flex-column li a span,
.collapse-sidebar ul.nav.flex-column li button span {
  display: none;
}
.mr-3 {
  margin-right: 20px;
}
.collapse-sidebar {
  width: 114px;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.collapse-sidebar h4.logo {
  margin: 0px !important;
}
.nav-link {
  color: #000;
  transition: background-color 0.2s;
}
.collapse-sidebar ul.nav.flex-column {
  padding-right: 1rem !important;
}

.collapse-sidebar ul.nav.flex-column li {
  border-radius: 40px !important;
}
.collapse-sidebar li.logout-row {
  width: 58%;
}
.nav-link.active {
  background-color: #ced4da;
  color: #000;
}
ul.nav li.rounded a {
  color: #434800;
}
.nav-link:hover {
  color: #fff;
}
li.logout-row {
  position: absolute !important;
  bottom: 22px;
  width: 93%;
}
.logout-btn {
  width: 100%;
  color: rgb(255 255 255 / 60%) !important;
  padding:0;
}
.logout-btn span {
  margin-left: 5px;
}
.logout-btn:hover {
  color: #fff !important;
}
.logout-btn svg {
  font-size: 22px;
}
nav.navbar.menus a {
  color: #434800;
  font-weight: 600;
  font-size: 17px;
}
.toggle-btn {
  padding: 0px;
  position: absolute;
  left: -60px;
}
.toggle-btn:focus,
.toggle-btn:active {
  border: none !important;
}
/* .toggle-btn {
  background: #1e96dd;
  border-radius: 30px;
}
.toggle-btn svg {
  font-size: 25px;
}
.toggle-btn:hover {
  border: 1px solid #1e96dd;
  color: #1e96dd;
} */
ul.nav.flex-column {
  padding-left: 1rem !important;
  margin-top: 40px;
}
div#basic-navbar-nav a {
  color: rgb(67 72 0 / 70%);
}
.right-side-content {
  position: relative;
}
.logged_user {
  border: 1px solid rgb(67 72 0 / 23%);
  border-radius: 30px;
  background: #fff;
  padding: 10px 20px !important;
}
.logged_user h5 {
  margin: 0;
  color: #1f1e30;
  font-weight: 600;
}
.logged_user span {
  color: #1e96dd;
  font-weight: 600;
}
#dropdown-basic::after {
  display: none;
}
.page-title h1 {
  color: #434800;
  font-weight: 900;
  font-size: 32px;
  margin: 0;
}
/*********** dashbaord css ********/
.scroll-table-body .rdt_TableBody {
  max-height: 600px;
  overflow-y: auto;
}
.send-again-btn button,
.send-again-btn button:hover {
  background: transparent;
  border: 1px solid rgb(67 72 0 / 23%);
  line-height: 10px;
  border-radius: 14px;
}
.send-again-btn button svg {
  color: #434800;
}
.dashbaord-bg-image {
  background: url("../img/userdashboard/info-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  border-radius: 30px;
}
.dashbaord-bg-image h2 {
  color: #fff;
  font-weight: bold;
}
.dashbaord-bg-image h2 span {
  color: rgb(255 255 255 / 60%);
}
.border-r {
  border-radius: 30px;
  box-shadow: 3.19px 3.19px 199.16px 0px rgba(0, 0, 0, 0.25);
}
.table-container {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  max-width: 800px;
  margin: 0 auto;
}

.table-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.table-header h4 {
  margin: 0;
  color: #343a40;
  font-weight: 700;
}

.send-again-btn {
  /* background: #eaf4ff; */
  border-radius: 8px;
  padding: 6px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #3b82f6;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* .send-again-btn:hover {
  background-color: #dbeeff;
} */
.receiver-card.card {
  border-radius: 30px;
}
/* .stats-row {
  margin-left: 30px;
} */
.stats-row span {
  color: rgb(67 72 0 / 70%);
  font-size: 16px;
}
.stats-row h4 {
  font-size: 40px;
  color: #434800;
}
.stats-box {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 100px auto;
}
.receiver-card .h5 {
  color: #434800;
  font-size: 30px;
  font-weight: 600;
}

span.status-badge.pending {
  color: #da982f;
}
span.status-badge.processing {
  color: #9cb417;
}
span.status-badge.review {
  color: #434800;
}

/*************** trsnafer details css ****************/

.stripe1 {
  background: #cfda2f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px !important;
}

.stripe1 h2 {
  color: #434800;
  font-weight: 800;
}
.stripe1 h2 span {
  font-weight: 400;
  color: #7c994a;
  margin-left: 10px;
  font-size: 20px;
}
.stripe1 h2 span b {
  color: #434800;
}
.stripe2 {
  background: #da982f;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px !important;
}
.stripe2 h2,
.stripe3 h2 {
  font-weight: 800;
}
.stripe3 {
  background: #1e96dd;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px !important;
}

.stripe2 span,
.stripe3 span {
  color: rgb(255 255 255 / 70%);
  margin-bottom: 5px;
  float: left;
  width: 100%;
}
.table-column {
  border-radius: 10px;
  border: 1px solid rgb(67 72 0 / 23%);
}
.table-column h2 {
  padding: 15px 15px;
  margin: 0;
  color: #434800;
  font-weight: 600;
  font-size: 20px;
}

.table-column table tr {
  border: 1px solid #e0e3b7;
}
.table-column table tr th,
.table-column table tr td {
  padding: 10px 15px;
  color: #434800;
}

.table-column table tr:last-child {
  border-bottom: none !important;
}
.table-column table {
  margin-bottom: 0px;
}

.box {
  color: #434800;
}
.box h3 {
  font-size: 18px;
  font-weight: 600;
}
.box span {
  margin-bottom: 5px;
  width: 100%;
  float: left;
}
.receiver-card {
  background: #fffcf5 !important;
}

.download-button {
  background: #434800;
  border: none;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 7px;
  color: #fff;
}

/************** profile information css **********/

.bg-white {
  background: #fff !important;
  padding: 10px 20px;
}
.bg-white .card-title.h5 {
  font-size: 20px;
  margin-bottom: 20px;
}
form.profile-form input,
form.profile-form textarea {
  border: 1px solid #e0e3b7;
  resize: none;
  border-radius: 10px;
}
.form-floating label {
  padding: 15px 20px;
  color: #9cb417;
  font-weight: 400;
}
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.85) translateY(-1.5rem) translateX(2.15rem) !important;
 background: #fff;
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    width: auto;
    opacity: 1;
}
select.login-code-select.form-select.form-select {
    background-color: transparent;
}
input:-internal-autofill-selected{
  background: transparent !important; 
}
.form-floating > .form-control-plaintext:-webkit-autofill,
.form-floating > .form-control:-webkit-autofill {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control {
  padding-top: 0.625rem !important;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #e0e3b7;
}
.PhoneInput {
  border: 1px solid #e0e3b7;
  resize: none;
  border-radius: 10px;
  height: calc(3.5rem 56px + calc(var(--bs-border-width) * 2));
  min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
  line-height: 1.25;
  padding: 1rem 0.75rem;
}
.PhoneInput input {
  border: none !important;
  border-radius: 0 !important;
}
.mobileinput {
  position: relative;
}
.mobileinput label {
 position: absolute;
    top: -21px;
    background: #fff;
    height: 29px;
    padding: 0 10px;
    line-height: 31px;
    left: 34px;
    font-size: 14px;
}
input.form-control.email-mobile-input.is-invalid.form-control.form-control-lg {
    padding: 0;
}
.PhoneInput input:focus {
  border: none !important;
  outline: none;
}
.passowrdinput {
  padding-right: 60px !important;
}
span.password-eye {
  position: absolute;
  top: 14px;
  right: 37px;
}
.updateform {
  background: #2499db;
  border: none;
  padding: 10px 45px;
  text-transform: uppercase;
}
.profileupdate .modal-body {
  text-align: center;
}
.profileupdate .modal-body h4 {
  color: #434800;
  font-weight: 700;
  font-size: 30px;
}
.PopupButton.modal-footer {
  justify-content: center;
}
.PopupButton.modal-footer button {
  background: #2499db;
  border: none;
  padding: 10px 45px;
}
.profileupdate .modal-header {
  border: none;
}
.profileupdate button.btn-close {
  position: absolute;
  right: -8px;
  background-color: #cfda2f;
  opacity: 1;
  color: #fff !important;
  border-radius: 100%;
  top: -6px;
  padding: 9px !important;
  background-size: 18px;
}
.profileupdate .btn-close:hover {
  opacity: 1;
}
span.Ortext {
  color: #1e96dd;
  font-weight: 900;
}
.form-floating > .form-select {
  padding-top: 0.625rem;
}
span.copyText {
  position: absolute;
  top: 15px;
  right: 34px;
  color: #cfda2f;
}
img.clipped-img {
  width: 100%;
}
/************************** resend otp popup css **********************/

a.resendOTP {
  color: #9cb417;
  margin: 30px 0px 5px !important;
  float: left;
  width: 100%;
}
input.inputBoxStyle {
  width: 3rem !important;
  height: 3rem;
  margin: 0 12px;
  border: 1px solid #e0e3b7;
  background: #fffcf5;
  border-radius: 15px;
  font-size: 17px;
  color: #434800;
}

img.processing-vector {
  position: absolute;
  bottom: 0;
  right: 50px;
}
.processing-info-text {
  color: #434800;
}
.processing-info-text ul {
  padding-left: 15px;
}
.processing-info-text ul li {
  color: #434800;
  font-weight: 600;
  line-height: 30px;
  list-style: auto;
}
/************** send money css ************************/

.exchangerate {
  background: #cfda2f;
  border-radius: 10px;
  text-align: center;
  color: #434800;
  position: relative;
}

.exchangerate::before,
.exchangerate::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.exchangerate::before {
  left: 0;
  background-image: url("../img/userdashboard/arm-left.png");
  background-position: right;
}

.exchangerate::after {
  right: 0;
  background-image: url("../img/userdashboard/arm-right.png");
  background-position: left;
}
button.cancel-btn {
  text-transform: uppercase;
  color: #434800;
}

button.submit-btn {
  background: #2499db;
  border: none;
  padding: 10px 45px;
  text-transform: uppercase;
}

/************************ payment detail css **********************/

.payment-options {
  background: #fffcf5;
  width: 50%;
  padding: 20px;
  border: 1px solid rgb(67 72 0 / 23%);
  border-radius: 10px;
  padding-left: 40px;
}
.payment-options input {
  border: 1px solid #e0e3b7;
}
.payment-options .form-check-input:checked {
  background-color: #cfda2f;
  border: 1px solid #e0e3b7;
}

.paymentdetail {
  background: #cfda2f;
  border-radius: 10px;
  text-align: center;
  color: #434800;
  position: relative;
}

.paymentdetail::before,
.paymentdetail::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.paymentdetail::before {
  left: 0;
  background-image: url("../img/userdashboard/arm-left.png");
  background-position: right;
}

.paymentdetail::after {
  right: 0;
  background-image: url("../img/userdashboard/transaction-vector.png");
  background-position: bottom;
  background-size: contain;
}
span.divider {
  width: 1px;
  height: 101px;
  background: rgb(67 72 0 / 10%);
  margin: 0px 20px;
}
.payment-popup {
  background: #1e96dd;
  padding: 30px;
  color: #fff;
  font-size: 30px;
  justify-content: center;
  border-radius: 14px;
  width: 98%;
  margin: 5px auto;
}

/************************* payment info css *****************/

.payment-types h5 {
  margin: 0;
  color: #434800;
  font-weight: 600;
  font-size: 20px;
}
.payment-types label {
  color: rgb(67 72 0 / 70%);
}
.payment-types p {
  color: #434800;
}

/********************** tranfers list css **************/

.incomplete {
  color: #2499db;
}
.complete {
  color: #9cb417;
}
.cancelled {
  color: #fd6063;
}

.filter-input {
  border: 1px solid rgb(67 72 0 / 23%);
  border-radius: 22px;
  width: 400px;
  background: url("../../assets/img/userdashboard/search-icon.png");
  background-size: auto;
  background-position: right 20px center;
  background-repeat: no-repeat;
  padding-right: 40px;
}
.filter-select {
  border: 1px solid rgb(67 72 0 / 23%);
  border-radius: 22px;
  width: 35%;
}

nav.sc-dTUlgT.jWqsSS.rdt_Pagination {
  background: #434800;
  border-radius: 15px;
  color: #fff;
}
nav.sc-dTUlgT.jWqsSS.rdt_Pagination button {
  background: rgb(47 50 0 / 70%);
  border-radius: 10px;
  margin: 0px 6px;
}
.fAPQyl {
  background-color: #cfda2f !important;
  fill: #434800;
}

/******************** footer css **************/

footer.footer ul li a {
  color: #434800;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
}
footer.footer {
  color: #434800;
}
footer.footer ul li svg {
  margin-right: 5px;
}
footer.footer ul li {
  display: flex;
  align-items: center;
}

footer.footer h6 {
  font-size: 22px;
  font-weight: 700;
  color: #191c1f;
}
.sitelinks a {
  color: #434800;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
}
footer.footer button {
      background: #434800;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
}
.social-icons a {
  color: #434800;
  border: 1px solid rgb(67 72 0 / 10%);
  border-radius: 100px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 26px;
}

.social-icons a:hover {
  background: #434800;
  color: #fff;
}
/************ login css *****************/
input.form-control.userPhone.w-100 {
    padding: 0 7px;
    width: 93% !important;
    margin-left: 31px;
}
.login {
  background-color: #2499db;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px 10px 10px 10px !important;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
}
.signup {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px 10px 10px 10px !important;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
}
.top-navbar .dropdown-item {
  width: 220px;
  white-space: pre-wrap;
}
.top-navbar .nav-link:hover,
.top-navbar .nav-link:focus {
  color: #212529;
}
.top-navbar .dropdown-menu.show a {
  border-bottom: 1px solid #c4c4c4 !important;
  padding: 10px;
}
.top-navbar .dropdown-menu.show a:last-child {
  border-bottom: none !important;
}
.login-header a {
  color: #434800;
  text-decoration: none;
  margin-left: 10px;
}
.login-header svg {
  color: #434800;
}
.login-header a:hover svg {
  color: #fff !important;
}
.top-strip {
  background-color: #cadb00;
  font-size: 14px;
}
.login-header span svg,
.login-header span svg a {
  font-size: 16px;
}
.logo-strip {
  background-color: #fefdf7; /* Light background as in image */
}

.logo-img {
  max-height: 45px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 12px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.forgotpassword-text {
   color: #9cb417 !important;
    text-decoration: none;
    width: 100%;
}
.blockelement{
  display:block;
  text-align:right;
}
.form-box {
  padding-right: 70px;
}
li.nav-item.mb-2.bg-light.text-dark.rounded {
  background: #fff;
}
/************ signup ************************/

.login-form-wrapper {
  background-color: #fefdf7;
  padding-right: 50px;
}

.form-title {
  font-weight: bold;
}

.custom-signin-btn {
  background-color: #cadb00;
  border: none;
  font-weight: bold;
  padding: 10px 25px;
  font-size: 16px;
  color: #434800;
}

.custom-signin-btn:hover {
  background-color: #b5c900;
}
.exchange-title {
  font-size: 35px;
  font-weight: 700;
  color: #2499db;
  line-height: 1.2;
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  position: relative;
}
.exchange-title:before {
  position: absolute;
  content: "";
  border: 1px solid #cfda2f;
  height: 67px;
  left: 0;
  top: 8px;
}
.exchange_rate {
  font-size: 14px;
  margin-top: 5px;
  color: #434800;
  margin-bottom: 0px;
  float: right;
  font-weight: 600;
}
.exchange-form {
  width: 100%;
  margin-top: 50px;
}
.login-page {
  width: 100%;
}

/*************** responsive css ****************/

@media screen and (max-width: 1500px) {
  .custom-width {
    width: 50%;
  }
}
